body{
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Skranji', cursive;
}

.container{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #16a078;
    display: grid;
    place-items: center;
}

.flower{
    width: 50px;
    height: 50px;
    animation: giro 4s linear infinite;
}

.leaf{
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: rgb(250, 242, 0);
    border-radius: 2px 50px;
    opacity: 0.8;
    box-shadow: -5px -5px 2px rgba(0, 0, 0, 0.051);
}

.dot{
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    background-color: #f1b50f;
    border-radius: 50%;
    animation: dot 4s ease-in-out infinite;
}

.leaf-0{
    transform: rotate(0deg) translate(-35px, -35px) scale(2);
}

.leaf-1{
    transform: rotate(22.5deg) translate(-35px, -35px) scale(2);
}

.leaf-2{
    transform: rotate(45deg) translate(-35px, -35px) scale(2);
}
.leaf-3{
    transform: rotate(67.5deg) translate(-35px, -35px) scale(2);
}
.leaf-4{
    transform: rotate(90deg) translate(-35px, -35px) scale(2);
}
.leaf-5{
    transform: rotate(112.5deg) translate(-35px, -35px) scale(2);
}
.leaf-6{
    transform: rotate(135deg) translate(-35px, -35px) scale(2);
}
.leaf-7{
    transform: rotate(157.5deg) translate(-35px, -35px) scale(2);
}
.leaf-8{
    transform: rotate(180deg) translate(-35px, -35px) scale(2);
}
.leaf-9{
    transform: rotate(202.5deg) translate(-35px, -35px) scale(2);
}

.leaf-10{
    transform: rotate(225deg) translate(-35px, -35px) scale(2);
}
.leaf-11{
    transform: rotate(247.5deg) translate(-35px, -35px) scale(2);
}
.leaf-12{
    transform: rotate(270deg) translate(-35px, -35px) scale(2);
}
.leaf-13{
    transform: rotate(292.5deg) translate(-35px, -35px) scale(2);
}
.leaf-14{
    transform: rotate(315deg) translate(-35px, -35px) scale(2);
}
.leaf-15{
    transform: rotate(337.5deg) translate(-35px, -35px) scale(2);
}

@keyframes giro{
    0%{
        transform: scale(0) translate(-35px, -35px);
    }
    30%{
        transform: scale(1) rotate(50deg);
    }
    70%{
        transform: scale(1) rotate(100deg);
    }
    80%{
        transform: scale(1) rotate(180deg);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes dot{
    0%,12%{
        transform: scale(0);
    }
    20%{
        transform: scale(1.1);
    }
    25%{
        transform: scale(0.95);
    }
    30%,55%{
        transform: scale(1);
    }
    58%{
        transform: scale(1.1);
    }
    70%,100%{
        transform: scale(0);
    }
}
.recuadro {
    width: 80%; /* Ancho del recuadro */
    max-width: 400px; /* Ancho m치ximo */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
}

/* Media query para hacerlo responsive */
@media (max-width: 412px) and (min-height: 914px) {
    .recuadro {
        width: 90%; /* Cambiar el ancho en pantallas m치s peque침as */
        max-width: none; /* Eliminar el ancho m치ximo */
    }
}

